{% extends "base.html" %}

{% block content %}
	<h2>Login</h2>
  <form method="post">
    {% csrf_token %}
  <a href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a><br>
{% endblock %}