{% extends 'base.html' %}
{% load static %}
{% block extrahead %}
<script src="{% static 'js/script.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/book.css' %}">

{% endblock %}

{% block content %}
{% if user.is_authenticated %}
             <p class="display-4" style="color: white; font-size: 20px;">Halo,</p>
             <p  id="nam" class="display-4" style="color: white; font-size: 20px;">{{ user.first_name }} {{user.last_name}}</p>

             <a href="{% url 'logout' %}" onclick="signOut()" >Log out</a>
    {% else %}
             <a class="lead" href="{% url 'login' %}">Log in</a>
    {% endif %}
<div class="counter-container">
    <i class ="fa fa-star"></i>: <span class="counters">
        
    </span>
</div>
<script type="text/javascript">
var nama = document.getElementById("nam").textContent;
    function signOut() {
                    var hapus = localStorage.setItem(nama, 0);
                    alert("Anda berhasil logout")
                    var auth2 = gapi.auth2.getAuthInstance();
                    auth2.disconnect();
                    auth2.signOut().then(function () {
                        console.log('User signed out.');  

                    });
                }
                function onLoad() {


                    gapi.load('auth2', function() {
                        gapi.auth2.init();
                    
                    });
                           
                }

                var counter = localStorage.getItem(nama);
                if (counter == null) {
                    counter = 0;
                }                
                window.onload = function(){
                    $('.counters').html(counter);
                    // document.getElementsByClassName(classNames: counters).innerHTML = counter;

                };

</script>
<table class="table table-dark">
    <thead> <tr>
        <th scope="col"> No</th>
        <th scope="col"> Title</th>
        <th scope="col"> Author(s)</th>
        <th scope="col"> Published date</th>
        <th scope="col">Favourites</th>
    </tr> 
    </thead>
    <tbody></tbody>
</table>

<div class="text-query">
    <button class="clickable" value="programming">Programming</button>
</div>



{% endblock %}