@import url('https://fonts.googleapis.com/css?family=Rasa');

body {
    background-color: black;
}
.clicked {
    color: #f3a3bb !important;
}

.counter-container {
    font-family: 'Rasa', serif;
    font-size : 2rem;
    color : #f3a3bb;
    text-align: center;
}

.text-query {
    text-align: center;
    
}
.clickable {
    color : #f3a3bb;
    font-family: 'Rasa', serif;
    font-size : 2rem;
}
a:hover {
    color: #f3a3bb;
}